<!--The content below is only a placeholder and can be replaced.-->
<div class="ui" style="text-align:center">
  <h1>
    {{title}}!
  </h1>
  <div class="ui two column divided grid">
      <div class="four wide column">
        <div class="ui segment">
           <app-friends-list></app-friends-list>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui segment">
            <app-conversation class="chat-window"></app-conversation>
        </div>
      </div>
  </div>
  
</div>

