<div class="ui container">
  <div class="ui secondary pointing menu">
    <a class='item' routerLinkActive='active' 
      routerLink="/chat/chat">Chat</a>
    <a class='item' routerLinkActive='active' 
      routerLink="/chat/add" >Create Group</a>

    <div class="right menu" routerLinkActive='active'>
      <!--<div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search groups...">
          <i class="search link icon"></i>
        </div>
      </div>-->

      <div routerLink="/login" *ngIf='!(currentUser | async)'>
        <a class="ui item">
            Login
          </a>
      </div>

      <div routerLink="/register" *ngIf='!(currentUser | async)'>
        <a class="ui item">
            Register
          </a>
      </div>

      <div routerLink="/logout" *ngIf='(currentUser | async)'>
        <a class="ui item">
            Logout
          </a>
      </div>
    </div>


  </div>
  <router-outlet></router-outlet>
</div>