.right-side{
   text-align: right; 
   margin-left: 50%;
}

.left-side{
    text-align: left;
    margin-right: 50%;
}

.message{
    break-before: auto;
    word-wrap: break-word;
    margin-top: 3px;
}

.lower-right{
    background-color: greenyellow;
}

.lower-left{
    background-color: grey;
}

.lower-general{
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
}